*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 130.3vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_box{
    width: 15%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
}
#title_name{
    height: 100%;
    width: 87%;
    font-size: 1.4rem;
    font-weight: 600;
    background: none;
    border: none;
}
.right_box{
    width: 15%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right_box button{
    border: none;
}
.share_button{
    width: 25%;
    height: 70%;
    background-color: rgb(119, 181, 235);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius:4rem ;
    cursor: pointer;
}
#profile_pic{
    width: 10%;
    height: 75%;
    border-radius: 10rem;
    background-color: rgb(119, 181, 235);
    cursor: pointer;
}